logs
*.log
.DS_Store

.idea/
.vscode/
.history/

junit.xml
coverage/
node_modules/

**/package-lock.json
**/dist
**/docs
**/.cache
!/docs/contributing

**/types/**/build

.eslintcache

*.tsbuildinfo

*.d.ts
*.d.ts.map