#main > .sidebar {
    width: 300px;
}

#main > .side-nav {
    width: 300px;
}

.side-nav ul li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.member > .name .code-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 769px), print {
    .column.is-5,
    .column.is-5-tablet {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
